<footer class="footer footer--primary">
  <div class="footer__third">
    <h4 class="footer__logo">Chaussettes</h4>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna
    </p>
    <i class="fab fa-phone"></i>010111012313
    <i class="fab fa-envelope"></i>info@chaussettes.com
  </div>
  <div class="footer__third">
    <h5>Shop</h5>
    <ul>
      <li>All Products</li>
      <li>SocksLimited Edition</li>
      <li>Gifts</li>
      <li>Colors & Patterns</li>
    </ul>
  </div>
  <div class="footer__third">
    <h5>Help</h5>
    <ul>
      <li>FAQ</li>
      <li>Shipping</li>
      <li>Returns</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
    </ul>
  </div>
  <div class="footer__third">
    <h5>Follow us</h5>
    <a href="/"> <i class="fab fa-facebook"></i> Facebook </a>
    <a href="/"> <i class="fab fa-twitter"></i> Twitter </a>
    <a href="/"> <i class="fab fa-instagram"></i> Instgram </a>
    <a href="/"> <i class="fab fa-youtube"></i> youtube </a>

    <h5>NEWSLETTER SUBSCRIBE</h5>
    <p>
      Subscribe to the newsletter and be first to receive offers and updates.
    </p>
    <input type="text" placeholder="Sign up your email..." />
  </div>
</footer>
