<header>
  <div class="container">
    <nav class="nav">
      <h1>
        <a to="/">Chaussettes</a>
      </h1>

      <ul class="nav-ul">
        <li>
          <a class="nav__link"> Men </a>
        </li>
        <li>
          <a class="nav__link"> Women </a>
        </li>
        <li>
          <a class="nav__link"> Limited Edition </a>
        </li>
        <li>
          <a class="nav__link"> Gifts </a>
        </li>
        <li>
          <a class="nav__link"> Saerch </a>
        </li>
        <li>
          <a class="nav__link"> Cart </a>
        </li>
        <li>
          <a class="nav__link"> Login </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
